<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CamaleonInvoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CamaleonInvoice.Properties.Settings>
            <setting name="serviceEndPoint" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="localServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="localPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="localUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="localPassword" serializeAs="String">
                <value>antonio</value>
            </setting>
            <setting name="localDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="locationId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="locationName" serializeAs="String">
                <value />
            </setting>
            <setting name="sunatUsuarioSOL" serializeAs="String">
                <value />
            </setting>
            <setting name="sunatClaveSOL" serializeAs="String">
                <value />
            </setting>
            <setting name="sunatCertPath" serializeAs="String">
                <value />
            </setting>
            <setting name="sunatCertPass" serializeAs="String">
                <value />
            </setting>
            <setting name="emRUC" serializeAs="String">
                <value />
            </setting>
            <setting name="emNombreLegal" serializeAs="String">
                <value />
            </setting>
            <setting name="emNombreComercial" serializeAs="String">
                <value />
            </setting>
            <setting name="emDireccion" serializeAs="String">
                <value />
            </setting>
            <setting name="emUbigeo" serializeAs="String">
                <value />
            </setting>
            <setting name="emUrbanizacion" serializeAs="String">
                <value />
            </setting>
            <setting name="emDepartamento" serializeAs="String">
                <value />
            </setting>
            <setting name="emProvincia" serializeAs="String">
                <value />
            </setting>
            <setting name="emDistrito" serializeAs="String">
                <value />
            </setting>
            <setting name="sunatEndPoint" serializeAs="String">
                <value>https://www.sunat.gob.pe/ol-ti-itcpgem-sqa/billService</value>
            </setting>
        </CamaleonInvoice.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.2.0" newVersion="5.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>