<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dropbox.Api" version="4.8.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="Unity" version="5.8.6" targetFramework="net461" />
  <package id="Unity.Abstractions" version="3.3.0" targetFramework="net461" />
  <package id="Unity.Configuration" version="5.2.2" targetFramework="net461" />
  <package id="Unity.Container" version="5.8.6" targetFramework="net461" />
  <package id="Unity.Interception" version="5.5.2" targetFramework="net461" />
  <package id="Unity.Interception.Configuration" version="5.1.5" targetFramework="net461" />
  <package id="Unity.RegistrationByConvention" version="2.1.5" targetFramework="net461" />
</packages>